<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>RecipeTown</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
  <script src="js/index.js"></script>

</head>

<body>
  <header>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <div class="container">
      <div class="row">
        <div class="col s12">

          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Sign In</a>
          <i class="fab fa-twitter" id="twitter"></i>
          <i class="fab fa-facebook" id="facebook"></i>
          <i class="fab fa-instagram" id="instagram"></i>
          <p class="header-text">RecipeTown</p>
  </header>

  <!-- --sideNavBar-- -->
  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="https://i.ndtvimg.com/i/2017-10/thali_650x400_61508157304.jpg">
        </div>
        <a href="#name"><span class="white-text name">John Doe</span></a>
        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div>
    </li>
    <li><a class="waves-effect waves-red" href="/">Home</a></li>
    <li><a class="waves-effect waves-red" href="/recipeotd">Recipe of the Day</a></li>
    <li><a class="waves-effect waves-red" href="/calendar">Calendar</a></li>
    <li><a class="waves-effect waves-red" href="forum.html">Forum</a></li>
    <li><a class="waves-effect waves-red" href="/contact">Contact</a></li>
  </ul>

  {{{body}}}


  <!-- Modal Structure -->
  <form class="LogIN">
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h5 class="modal-title" id="exampleModalLabel">Sign In or Sign Up</h5>
      <div class="modal-body">
        <label for="uname"><b>Username</b></label>
        <input id="username" type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember Me
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      <button type="button" class="btn btn-primary">Sign In</button>
    </div>
  </div>
</form>s
</body>

</html>