<link rel="stylesheet" type="text/css" href="/calendar.js/assets/css/fullcalendar.css" />
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text text-lighten-2">Calendar</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div id="calendar"></div>
      <!-- <div class="col 12">   -->

      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Team Bio</h5>
              <p class="grey-text text-lighten-4">Team Members: Sarah Clark, Yasiin Muhammad, Isai Ramirez, Daniel
                Mata.
                This is our Project 2 Website</p>


            </div>
            
        <div class="footer-copyright">
          <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>

<script src="/calendar.js/assets/js/jquery.js"></script>
<script src="/calendar.js/assets/js/moment.js"></script>
<script src="/calendar.js/assets/js/fullcalendar.js"></script>
<script src="/calendar.js/app/javascripts/full-calendar.js"></script>