<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text text-lighten-2">Recipe Search </h1>
      <div class="form-row" id="searchBar">
        <div class="col-2">
        </div>
        <i class="fas fa-search" id="icon"></i>
        <div class="col-8">
          <input id="search" type="text" class="form-control input-lg">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center" id="searchItem">

      </div>
    </div>

  </div>
</div>

<!-- --Row 1-- -->
<div class="container" id="row1">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <div class="img-zoom">
          <a
            href="https://www.edamam.com/recipe/best-ever-turkey-meatballs-7bbcd3db287a7f1f395d46d5b217a1cd/turkey+meatballs">
            <img src="https://www.edamam.com/web-img/93c/93c604fef9935bdcad58ab25f44830ab.jpg" alt="100%x280"
              style="height: 250px; width: 100%; display: block;"></a>
        </div>
        <a class="link"
          href="https://www.edamam.com/recipe/best-ever-turkey-meatballs-7bbcd3db287a7f1f395d46d5b217a1cd/turkey+meatballs">Turkey
          Meatballs</a>
      </div>

      <div class="col m4">
        <div class="img-zoom">
          <a class="link"
            href="https://www.edamam.com/recipe/margarita-pizza-recipes-cd8487f0c2534bc6600e89e94d47db28/margarita+pizza">
            <img src="https://www.edamam.com/web-img/4e3/4e34d5c43723aa370698716e01beb329" alt="100%x280"
              style="height: 250px; width: 100%; display: block;"></a>

        </div>
        <a class="link"
          href="https://www.edamam.com/recipe/margarita-pizza-recipes-cd8487f0c2534bc6600e89e94d47db28/margarita+pizza">Margarita
          Pizza</a>
      </div>

      <div class="col m4">
        <div class="img-zoom">
          <a href="https://www.edamam.com/recipe/fettuccine-alfredo-0595d3d9ff9a0444ec4a08b07afc4211/alfredo">
            <img src="https://www.edamam.com/web-img/b54/b5423d756ab23b0eb8c2a9d3ae0ae7ae.jpg" alt="100%x280"
              style="height: 250px; width: 100%; display: block;"></a>
        </div>
        <a class="link"
          href="https://www.edamam.com/recipe/fettuccine-alfredo-0595d3d9ff9a0444ec4a08b07afc4211/alfredo">Fettuccine
          Alfredo</a>
      </div>

    </div>

  </div>
</div>

<!--   Row 2  -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s4">
        <div class="img-zoom">
          <a href="https://www.edamam.com/recipe/perfect-grilled-steak-7760a830f864cbc9daa71cb3a57b3dd1/steak">
            <img src="https://www.edamam.com/web-img/ec5/ec5b5a864df655b2bb9fea6630970fae.jpg" alt="100%x280"
              style="height: 250px; width: 100%; display: block;"></a>

        </div>
        <a class="link"
          href="https://www.edamam.com/recipe/perfect-grilled-steak-7760a830f864cbc9daa71cb3a57b3dd1/steak">Grilled
          Steak</a>
      </div>

      <div class="col s4">
        <div class="img-zoom">
          <a href="https://www.edamam.com/recipe/marinated-lamb-chops-075266bee9ab4fbb14e2904cc5532a02/lamb+chops">
            <img src="https://www.edamam.com/web-img/e2e/e2e2cd677902f3554b426190c917635d.jpg" alt="100%x280"
              style="height: 250px; width: 100%; display: block;"></a>

        </div>
        <a class="link"
          href="https://www.edamam.com/recipe/marinated-lamb-chops-075266bee9ab4fbb14e2904cc5532a02/lamb+chops">Marinated
          Lamb Chops</a>
      </div>

      <div class="col s4">
        <div class="img-zoom">
          <a href="https://www.edamam.com/recipe/the-perfect-hamburger-fc655bb2df5daded69b6b74755c9ff2a/hamburger">
            <img src="https://www.edamam.com/web-img/314/314e6bee3bcb75e5e896f1f80ff3b313.jpg" alt="100%x280"
              style="height: 250px; width: 100%; display: block;"></a>

        </div>
        <a class="link"
          href="https://www.edamam.com/recipe/the-perfect-hamburger-fc655bb2df5daded69b6b74755c9ff2a/hamburger">Gourmet
          Hamburger</a>
      </div>

    </div>

  </div>
</div>

<!--   Row 3   -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s4">
        <div class="img-zoom">
          <a
            href="https://www.edamam.com/recipe/homemade-takeout-orange-chicken-3d116b926a044ffc5affbb0b9bc4e375/orange+chicken">
            <img src="https://www.edamam.com/web-img/92d/92dfbc25d084a0a57aa41e15a125c23f.jpg" alt="100%x280"
              style="height: 250px; width: 100%; display: block;"></a>

        </div>
        <a class="link"
          href="https://www.edamam.com/recipe/homemade-takeout-orange-chicken-3d116b926a044ffc5affbb0b9bc4e375/orange+chicken">Orange
          Chicken</a>
      </div>

      <div class="col s4">
        <div class="img-zoom">
          <a
            href="https://www.edamam.com/recipe/steak-tacos-with-guacamole-a169764ced71e68d5ae8e51dbe60617d/steak+tacos">
            <img src="https://www.edamam.com/web-img/b4a/b4a9e17ad70c30d3ef21265f78604a4e.jpg" alt="100%x280"
              style="height: 250px; width: 100%; display: block;"></a>

        </div>
        <a class="link"
          href="https://www.edamam.com/recipe/steak-tacos-with-guacamole-a169764ced71e68d5ae8e51dbe60617d/steak+tacos">Steak
          Tacos</a>
      </div>

      <div class="col s4">
        <div class="img-zoom">
          <a href="https://www.edamam.com/recipe/killer-club-sandwich-b5f6ca361eb69838c8dabcdbe1221686/club+sandwich">
            <img src="https://www.edamam.com/web-img/819/819a2e1f768e5892330b4a479fcaad5a.jpg" alt="100%x280"
              style="height: 250px; width: 100%; display: block;"></a>
        </div>
        <a class="link"
          href="https://www.edamam.com/recipe/killer-club-sandwich-b5f6ca361eb69838c8dabcdbe1221686/club+sandwich">Killer
          Club Sandwich</a>
      </div>

    </div>

  </div>
</div>



<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design
        </h5>
      </div>
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Team Bio</h5>
            <p class="grey-text text-lighten-4">Team Members: Sarah Clark, Yasiin Muhammad, Isai Ramirez, Daniel Mata.
              This is our Project 2 Website</p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 12</a></li>
              <li><a class="white-text" href="#!">Link 22</a></li>
              <li><a class="white-text" href="#!">Link 32</a></li>
              <li><a class="white-text" href="#!">Link 42</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>
  </div>
</div>