{{!-- --Jumbotron/Header-- --}}
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text text-lighten-2">Recipe of the Day</h1>
      <h1>
        <center>{{recipe.label}}</center>
      </h1>
    </div>
  </div>
</div>

<!-- --Placeholder for ROTD-- -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-lg-12" id="cBlockTwo">
        <div class="row center">
          <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 400px; width: 100%; display: block;"
            src="{{recipe.image}}" data-holder-rendered="true">
        </div>
        <div class="col-lg-12">
          <h5>
            <center>{{recipe.ingredientLines}}</center>
          </h5>

        </div>
        <div class="col">
      <h5>{{recipe.ingredientLines}}</h5>
    </div>
        <br><br>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h5>
          <center>Team Bio</center>
        </h5>
        <p>
          <center>Team Members: Sarah Clark, Yasiin Muhammad, Isai Ramirez,
            Daniel Mata.
         </center>
        </p>
        <p>
          <center>This is our Project 2 Website</center>
        </p>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>