<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text text-lighten-2">Recipe of the Day</h1>
      <h1>{{recipe.label}}</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-lg-12" id="cBlockTwo">
        <!-- --Placeholder for ROTD-- -->
        <div class="row center">
          <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 450px; width: 100%; display: block;"
            src="{{recipe.image}}"
            data-holder-rendered="true">
        </div>
        <br><br>

      </div>
    </div>
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Team Bio</h5>
        <p class="grey-text text-lighten-4">Team Members: Sarah Clark, Yasiin Muhammad, Isai Ramirez,
          Daniel
          Mata.
          This is our Project 2 Website</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>