<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- bootstrap --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  {{!-- Css --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  {{!-- full Calendar requirments--}}
  <link rel="stylesheet" href="fullcalendar/fullcalendar.css" />
  <script src="lib/jquery.min.js"></script>
  <script src="lib/moment.min.js"></script>
  <script src="fullcalendar/fullcalendar.js"></script>
  <title>Recipe Town</title>
</head>

<body>
  {{{body}}}
</body>

</html>